body {
    font-family: 'Raleway', sans-serif;
}

.navbar-brand img {
    height: 80px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.nav-pills li a {
    color: #d9515d !important;
}

.nav-pills li a.active {
    color: white !important;
    background-color: #d9515d !important;
}

h1 {
    font-weight: bold;
    color: #86323a;
}

table img {
    height: 100px;
}
